kind: Deployment
apiVersion: apps/v1
metadata:
  name: spark-worker
spec:
  replicas: 9
  selector:
    matchLabels:
      component: spark-worker
  template:
    metadata:
      labels:
        component: spark-worker
    spec:
      containers:
        - name: spark-worker
          image: ghcr.io/dynatrace-research/shufflebench/shuffle-spark:latest
          command: ["/spark-worker"]
          volumeMounts:
            - name: shared-data
              mountPath: /tmp/spark/ # to store the checkpoints
          ports:
            - containerPort: 8081
          resources:
            limits:
              memory: 4Gi
              cpu: 1000m
      volumes:
        - name: shared-data
          emptyDir: {}
