apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: shuffle-latency-exporter
  name: shuffle-latency-exporter
spec:
  selector:
    matchLabels:
        app: shuffle-latency-exporter
  endpoints:
    - port: metrics
      interval: 10s
